.react-calendar {
    border: none;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
  }
  
  .react-calendar__tile--active,
  .selected-day {
    background: #7bb661 !important;
    color: white !important;
    border-radius: 6px;
  }
  
  .react-calendar__tile {
    padding: 10px 0 !important;
  }
  